#[submodule "tinycc"]
#	path = tinycc
#	#url = https://repo.or.cz/tinycc.git
#	url = https://github.com/mirror/tinycc.git

#[submodule "tinyccbinary"]
#	path = tinyccbinary
#	url = https://github.com/partnernetsoftware/tinyccbinary.git
	
#[submodule "libffi"]
#	path = libffi
#	url = https://github.com/libffi/libffi.git
[submodule "tinycc"]
	path = tinycc
	url = https://github.com/mirror/tinycc.git
[submodule "tinyccbinary"]
	path = tinyccbinary
	url = https://github.com/partnernetsoftware/tinyccbinary.git
