tcc_osx
tcc_tcc_osx
_del/
*.out
tccrun
tccrun.i
*.o
*.i
config.h
scheme
sao
*.exe
upx_osx
bin_win32
src/tests/TradeX-M.ini
src/tests/TradeX-M.lic
tdx2m.dll
system.uid
config.txt
bin/tcc64tcc.osx.1
bin/tcc64tcc.osx.2
src/tests/env.osx.1
src/tests/env.osx.2
src/tcc_osx.log
src/tcc_tcc_osx.log
ffic32a.def
*.BAK
